@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Outfit", sans-serif;
}

.card {
  @apply border-2 border-secondary-600 rounded-xl;
  filter: drop-shadow(6px 6px 2px #1e1e1e);
}

.title {
  @apply font-raleway font-bold text-secondary-500;
}

.subtitle {
  @apply font-medium text-secondary-400;
}

.custom-shadow {
  filter: drop-shadow(8px 8px 1px #ffbe99);
}

.custom-shadow-black {
  filter: drop-shadow(6px 6px 2px #1e1e1e);
}

.custom-shadow-button {
  filter: drop-shadow(4px 4px 2px #1e1e1e);
}

#testimony-slider .slick-slide {
  padding: 0px 10px 10px 0px;
}

#achievement-slider .slick-slide {
  padding: 35px 10px 10px 0px;
}

/* Start: Carousel Academic Gallery */
#academic-gallery-image-carousel .slick-slide {
  padding: 0px 20px 0px 20px;
}

#academic-gallery-image-carousel .slick-list {
  margin: 0 -20px;
}
/* End: Carousel Academic Gallery */

#timeline-wrapper::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 77%;
  background: #ffbe99;
  top: 45px;
  left: 23px;
  margin-left: -3px;
  z-index: -1;
}

#timeline-wrapper::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 77%;
  background: #262626;
  top: 45px;
  left: 24px;
  z-index: -1;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

@media (min-width: 1280px) {
  #testimony-slider .slick-slide {
    padding: 30px;
  }

  #achievement-slider .slick-slide {
    padding: 35px 40px 20px 0px;
  }

  #achievement-slider .slick-list {
    margin: 0 -40px;
  }

  #timeline-wrapper::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 83%;
    background: #ffbe99;
    top: 80px;
    left: 7px;
    margin-left: -3px;
    z-index: -1;
  }

  #timeline-wrapper::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 83%;
    background: #262626;
    top: 80px;
    left: 8px;
    z-index: -1;
  }
}
